@import "tailwindcss";

@layer base {
  :root {
    --color-canvas: #FFFFFF;
    --color-offwhite: #F8FAFC;
    --color-slate-ink: #0F172A;
    --color-slate-muted: #475569;
    --color-cobalt: #0052FF;
    --color-azure: #009BFF;
    --color-subtle-border: #E2E8F0;
  }
}

body {
  background-color: var(--color-canvas);
  color: var(--color-slate-ink);
  font-family: var(--font-inter), sans-serif;
}